@use "hero";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lemon, sans-serif;
    list-style: none;
}

body {
    background-image: url(../images/p000007554.jpg);
    background-size: cover;
}

